<%- partial('parts/head') %>

    <body>
        <div class="main-wrapper">
            <%- partial('parts/header', null, {cache: config.relative_link}) %>

                <%- body %>

            <%- partial('parts/footer', null, {cache: !config.relative_link}) %>
        </div>
        <!-- <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %> -->
        <!-- <%- partial('_partial/after-footer') %> -->
    </body>

    </html>
