<section class="contents">
  <ul>
    <% page.posts.each(function(post){%>
      <li><p><a  href="<%- url_for(post.path)%>" title="<%- post.title %>">
        <%if(post.title){%>
          <%- post.title %>
        <%}else{%>
            (no title)
          <%}%>
      </a><span><%- date(post.date) %></span></p></li>
    <%})%>
  </ul>
  <nav class="pagination">
    <% if (page.total > 1){ %>
        <%- paginator({
          prev_text: "&laquo;"+ __('prev'),
          next_text: __('next') +" &raquo;"
        }) %>
    <% } %>
  </nav>
</section>
