<p class="detail text-center">
    <time datetime=" <%- date_xml(post.date) %>" title="<%- date_xml(post.date) %>">
        <%-  date(post.date, 'YYYY / MM / DD')  %>
    </time>
    <% if (post.tags && post.tags.length){ %>
      <span class="show-on-mobile">&nbsp;</span><span class="hide-on-mobile"> | </span><%- list_tags(post.tags, {
            style: 'a',
            show_count: false,
            separator:' '
          }) %>
    <% } %>
    <% if (post.categories && post.categories.length){ %>
      <span class="show-on-mobile">&nbsp;</span><span class="hide-on-mobile"> | </span>
      <%- list_categories(post.categories, {
            style: 'a',
            show_count: false,
            separator:'>'
          }) %>
    <% } %>
    
</p>