<footer>
<div class="footer-content">
  <div class="calligraph">
   <h1 class="display-content">Wish You Have A Nice Day!</h1>
   <h1 class="hide-content">Best Wishes!</h1>
  </div>
    <div class="footer-nav">
    <ul>
      <% for (var i in theme.menu){ %>
        <li>
          <a class="footer-nav-link" href="<%- url_for(theme.menu[i]) %>" title="Jump to <%= i %>">
            <%= i %>
          </a>
        </li>
        <% } %>
    </ul>
  </div>
  <p class="social-links">
      <%if(config.social.github){%><a href="<%= config.social.github %>" target="_blank" title="click to visit my github home page"><i class="icon github"></i></a><%}%>
      <%if(config.social.coding){%><a href="<%= config.social.coding %>" target="_blank" title="click to visit my coding home page"><i class="icon coding-net"></i></a><%}%>
  </p>
  <div class="friends-link">
    <h1>FRIENDS</h1>
    <p>
     <% for (var i in config.friends){ %>
      
          <a class="footer-nav-link" href="<%- config.friends[i].link %>" target="_blank" rel="noopener" title="Click to open a new page of this link">
            <%=  config.friends[i].name %>
          </a>  
        <% } %>
    </p>
  </div>
  <div id="footer-info" class="footer-info">
    &copy;
    <%= date(new Date(), 'YYYY') %>
      <%= config.author || config.title %> <span class="show-on-mobile"><br></span><%- mail_to(config.email)%><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> Themed with <a href="https://github.com/vankai/hexo-theme-ambition" target="_blank">Ambition</a>
  </div>
</div>
</footer>