<nav class="nav-header">
    <div class="logo-header">
        <a href="<%- url_for('/') %>" title="Jump to Homepage"><%= config.title %></a>
    </div>
    <div class="nav-mobile-avator" id="js-toggle-nav">
          <span></span>
    </div>
    <div class="nav-ul">
        <ul>
        <% for (var i in theme.menu){ %>
        <li><a class="main-nav-link" title="Jump to <%= i %>" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
        </ul>
    </div>
</nav>
